
    <%- include('partials/header') %>
    <main class="w-full h-screen flex justify-center items-center" style="background-image: url(/images/background.gif); background-repeat: no-repeat; height: 91vh; background-size: cover;">
        <div class="bg-white rounded-lg px-6 m-auto flex justify-between shadow-lg  border-gray-50 ">
            <section class="h-custom flex flex-col items-center w-1/3 mx-auto justify-center">
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_rqes9zyp.json"  background="transparent"  speed="1"  style="width: 300px; height: 150px;"  loop autoplay class="rounded-full"></lottie-player>
                <h3>Edit Expenses</h3>
                <form action="/expense/<%= expense.id %>" method="POST" class="flex flex-col p-8  rounded-lg w-custom">
                    <input type="text" name="expname" placeholder="Enter Expense Name" class="p-3  my-2 rounded-lg border-2 border-gray-300" value="<%= expense.expname %>">
                    <input type="text" name="category" placeholder="Enter the Expense Category" class="p-3  my-2 rounded-lg border-2 border-gray-300" value="<%= expense.category %>">
                    <input type="number" name="amount" placeholder="Amount" class="p-3  my-2 rounded-lg border-2 border-gray-300" value="<%= expense.amount %>">
                    <input type="date" name="date" class="p-3  my-2 rounded-lg border-2 border-gray-300">
                    <input type="submit" value="Update Expense" class="p-3 bg-blue-500 text-white font-bold my-2 rounded-lg hover:bg-blue-400">
                </form>
            </section>
        </div>
    </main>

